.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0;
    background: #E27866;
    
    h2 {
        display: flex;
        color: #fff;
        font-size: 36px;
    }
    p {
        color:#fff;
        font-size: 14px;
        margin-bottom: 50px;
    }
     .form3 {
        padding: 15px 35px;
        background: #F5F5F5 0% 0% no-repeat border-box;
        border-radius: 5px 5px 0px 0px;
        opacity: 1;}
          .field {
        width: 70%;
        font-size: 1.1rem;
        border: none;
        border-bottom: 1px solid #D8D8D8;
        font-size: small;
       margin: 20px 0 auto;
       margin-right: 50px;
       margin-left: 50px;
        padding-left: 10px;
        font-family: 'Montserrat', sans-serif;
    }
    .button {
        margin-top:30px;
       margin-left: 100px;
 background: #41D395 ;
border-radius: 5px;
  color: white;
  padding: 15px 55px;
  
  
  
  
  font-size: 16px;
  
  cursor: pointer;
  
  }
    .form-box {
        max-width: 360px;
        height: 280px;
        width: 100%;
        background-color: #ffff;
        border-radius: 20px;
        

        .form-row {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 10px;
            font-size: small;
            
        }

        .radio-input-wrap {
            input {
                display: none;
                
            }

            input:checked ~ label:before {
                background: #41D395;
                
            }

            label {
                
                cursor: pointer;

                &:before {
                    content: '';
                    margin-right: 0px;
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    border: 1px solid black;
                    transition: 0.3s ease-in-out;
                }
            }
        }
    }
}
