footer {
    background: #1C1C1C;

    .mediatexte {
    color:#FFFFFF;
    padding: 20px 100px;
    justify-content: flex-end;

    h4{
        color:#86878B;
        font-size: 14px;
        align-self: left;
    }
}
.soce {
    width: 100%;
    width: 1800px;
    display: flex;
    justify-content: space-evenly;
    
    margin-right: 0;
   padding-top: 50px;
   padding-bottom: 50px;
   
}
}